*{
    text-align: center;
    text-decoration: none;
    list-style:none
}
body{
    background-color: gray;
}
div{
    overflow:auto;
}
.header{
    color: azure;
    width:100vw;
    height: 17vh;
}
.header h1{
    margin: 0;
}
li{
    position: relative;
    text-align: left;
}
.left{
    position: absolute;
    top:15vh;
    left:0vw;
    width:22vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
}
.main{
    position: absolute;
    top: 15vh;
    left:22vw;
    width: 54vw;
    height: 85vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.right{
    position: absolute;
    top:15vh;
    right:0vw;
    width:22vw;
    height:85vh;
    background-color: rgb(255, 255, 255);
}
